
/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* General Stles */
*{
    box-sizing: border-box;
    padding:0;
    margin: 0%;
    max-width: 100%;
    border: 1px solid grey;
}
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    text-decoration: none;
    background-color: skyblue;
}


/* Header Design */
h1{
    font-family: Impact;
    font-size: 5rem;
    margin-left: 1%;
}
.links a{
    font-size: 2rem;
    font-style: none;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 0 1.5%;
}
.links{
    margin-left: 2%;
}

/* Top Design */
.top{
    display:flex;
    margin: 1%;
}
.right{
    margin: 4%;
}
.right p{
    text-align: start;
}
.right button{
    margin:1% 0;
    padding:1%;
    background-color: red;
}


/* Gallery Design */
.top-pics, .bot-pics{
    display: flex;
    justify-content: space-evenly;
}
.double{
    display:flex;
    justify-content: space-evenly;
}
div p{
    text-align: center;
}
/* .pics{
    margin-bottom: 2%;
} */
/* .single{

    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 2%;
} */

/* Footer Design */
footer{
    text-align: center;
    font-size: 2rem;
    /* background-color: skyblue; */
    padding: 2% 0;
}
footer button{
    padding:1%;
    background-color: red;
}

@media(max-width:800px){
    body{
        background-color: blue;

    }
}

@media(max-width:500px){
    body{
        background-color: blueviolet;
    }
    .top{
        display: flex;
        flex-direction: column;
    }
    .heads, .right{
        text-align: center;
    }
    .top-pics{
        display: flex;
        flex-wrap: wrap;
    }
    .bot-pics{
        display: flex;
        flex-wrap: wrap;
    }
}
